<div class='row mx-4'>
  <div class='col-12 text-center'>
    <h1>Editar comentario</h1>

    <%= render 'form', post: @post %>

    <!-- # <%= link_to 'Show', @post %> | -->
    <%= link_to 'Volver', posts_path %>
  </div>
</div>
